@page "/translations"

<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
        
        <Heading Size="HeadingSize.Is2">
            Translations
        </Heading>
        
        <p>
            <a href="/translations/create">Create New Translation</a>
        </p>

        <SpinLoader IsLoading="@(Data == null)" >
            <ContentTemplate>
                
                <DataGrid TItem="Result.TranslationModel"
                          Data="@Data"
                          Sortable="true"
                          Filterable="true"
                          ShowPager="true"
                          PageSize="10">
                    <DataGridColumns>
                        <DataGridColumn TItem="Result.TranslationModel" Field="@nameof(Result.TranslationModel.Id)" Caption="#" Filterable="false"/>
                        <DataGridColumn TItem="Result.TranslationModel" Field="@nameof(Result.TranslationModel.OriginalPhrase)" Caption="Original" Sortable="false"/>
                        <DataGridColumn TItem="Result.TranslationModel" Field="@nameof(Result.TranslationModel.TranslatedPhrase)" Caption="Translated" Sortable="false"/>
                        <DataGridColumn TItem="Result.TranslationModel" Field="@nameof(Result.TranslationModel.TweetCount)" Caption="No. Tweets" Filterable="false"/>
                        <DataGridColumn TItem="Result.TranslationModel" Field="@nameof(Result.TranslationModel.Id)" Sortable="false" Filterable="false">
                            <DisplayTemplate>
                                @{
                                    var id = (context as Result.TranslationModel)?.Id;
                                }

                                <a href="translations/edit/@id">Edit</a> |
                                <a href="translations/delete/@id">Delete</a>
                            </DisplayTemplate>

                        </DataGridColumn>
                    </DataGridColumns>
                </DataGrid>
            </ContentTemplate>
        </SpinLoader>
    </Column>
</Row>