@page "/translations"

<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
        
        <Heading Size="HeadingSize.Is2">
            Translations
        </Heading>
        
        <p>
            <a href="/translations/create">Create New Translation</a>
        </p>

        <SpinLoader IsLoading="@(Data == null)">
            <ContentTemplate>
                <Table>
                    <TableHeader>
                        <TableRow>
                            <TableHeaderCell>#</TableHeaderCell>
                            <TableHeaderCell>Original</TableHeaderCell>
                            <TableHeaderCell>Translation</TableHeaderCell>
                            <TableHeaderCell>No. Tweets</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var item in Data)
                        {
                            <TableRow>
                                <TableRowHeader>
                                    @item.Id   
                                </TableRowHeader>
                                <TableRowCell>
                                    @item.OriginalPhrase
                                </TableRowCell>
                                <TableRowCell>
                                    @item.TranslatedPhrase
                                </TableRowCell>
                                <TableRowCell>
                                    @item.TweetCount
                                </TableRowCell>
                                <TableRowCell>
                                    <a href="translations/edit/@item.Id">Edit</a> |
                                    <a href="translations/delete/@item.Id">Delete</a>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            </ContentTemplate>
        </SpinLoader>
    </Column>
</Row>